version: "3.9"
services:  
  app:
    build: ./
    restart: always
    volumes: 
      - app-volume:/app/data
    networks:
      - anki-network

  celery_worker:
    build: ./
    restart: always
    command: celery -A anki_sync_server.tasks.celery_app worker --loglevel=info --concurrency=1
    volumes:
      - app-volume:/app/data
    networks:
      - anki-network
    depends_on:
      - app
    environment:
      - CELERY_BROKER_URL=sqla+sqlite:///data/celery_broker.db
      - CELERY_RESULT_BACKEND=db+sqlite:///data/celery_results.db
      - CELERY_WORKER_CONCURRENCY=1
      - CELERY_TASK_TIME_LIMIT=300
      - CELERY_RESULT_EXPIRES=86400

  nginx:
    container_name: nginx-proxy
    restart: always
    image: nginx:1.26.1-alpine3.19
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - anki-network
    depends_on:
      - app
    ports:
      - "5000:80"

  tunnel:
    container_name: cloudflared-tunnel
    restart: always
    build: ./docker/tunnel
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - anki-network

networks:
  anki-network:
    name: anki-network

volumes:
  app-volume:
