{{cloze:Text}}<br>
<div class="example-translation">{{TextTranslation}}</div>
{{type:cloze:Text}}
<hr/>
<div class="word-head">
    <div class="target-word">{{Word}}</div>
    <div class="word-info">
        <div class="part-of-speech">{{PartOfSpeech}}</div>
        <div class="tag-container">
            <span class="cefr-level" v-if="info.cefrLevel">{{CefrLevel}}</span>
            <span>{{Code}}</span>
        </div>
    </div>
</div>
<div class="en-definition">{{EnDefinition}}</div>
<div class="definition-translation">{{DefinitionTranslation}}</div>

{{DefinitionAudio}}
{{TextAudio}}
