.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
.cloze {
    font-weight: bold;
    color: blue;
}
.nightMode .cloze {
    color: lightblue;
}

.word-head {
  justify-content: center;
  display: flex;
  gap: 40px;
}

.word-head .word-info {
  flex-direction: column;
  gap: 5px;
}

.target-word {
  word-break: break-word;
  visibility: visible;
  font-family: Arial, Helvetica, "Microsoft JhengHei", sans-serif;
  word-wrap: break-word;
  font-size: 36px;
  color: #1d2a57;
  font-weight: 400;
  box-sizing: border-box;
}

.part-of-speech {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: break-word;
  visibility: visible;
  font-family: Arial, Helvetica, "Microsoft JhengHei", sans-serif;
  color: #1d2a57;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
}

.en-definition {
  word-break: break-word;
  visibility: visible;
  font-family: Arial, Helvetica, "Microsoft JhengHei", sans-serif;
  color: #1d2a57;
  box-sizing: border-box;
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  display: block;
}

.definition-translation {
  padding: 10px 0 10px 0;
  visibility: visible;
  box-sizing: border-box;
  color: #0580e8;
  word-break: break-word;
  display: block;
  font-family: Arial, Helvetica, "Microsoft JhengHei", sans-serif;
  font-size: 17px;
}

.english-example {
  word-break: break-word;
  visibility: visible;
  color: #1d2a57;
  line-height: 1.4;
  font-size: 17px;
  box-sizing: border-box;
  font-style: italic;
}

.example-translation {
  visibility: visible;
  line-height: 1.4;
  font-size: 17px;
  box-sizing: border-box;
  display: block;
  color: #0580e8;
  word-break: break-word;
  margin-top: 10px;
}

.cefr-level {
  margin-right: 3px;
  padding: 2px 6px;
  color: #fff;
  font-weight: 700;
  font-size: .95rem;
  text-align: center;
  background-color: #1d2956;
  border-radius: 50px;
}

.tag-container {
  display: flex;
  gap: 5px;
}
